<launch>
  <arg name="model_path" default="" />
  <arg name="image_topic" default="/airsim_node/drone_1/front_left/Scene" />
  <arg name="truth_pose_topic" default="/airsim_node/drone_1/debug/pose_gt" />
  <arg name="planner_pose_topic" default="/current_pose" />
  <arg name="command_mode" default="trajectory" />
  <arg name="gate_pose_method" default="bbox_pnp" />
  <arg name="gate_detector_conf" default="0.40" />
  <arg name="gate_min_area_ratio" default="0.035" />
  <arg name="min_area_ratio" default="$(arg gate_min_area_ratio)" />
  <arg name="gate_visual_error_min_area_ratio" default="0.005" />
  <arg name="max_center_error" default="0.75" />
  <arg name="max_reproj_error_px" default="8.0" />
  <arg name="max_depth_m" default="45.0" />
  <arg name="max_lateral_m" default="4.8" />
  <arg name="max_vertical_m" default="8.0" />
  <arg name="camera_hfov_deg" default="60.0" />
  <arg name="gate_width_m" default="10.0" />
  <arg name="gate_height_m" default="5.0" />
  <arg name="gate_trigger_width_m" default="10.0" />
  <arg name="gate_trigger_height_m" default="5.0" />
  <arg name="gate_trigger_length_m" default="7.0" />
  <arg name="gate_trigger_exit_offset_m" default="-1.0" />
  <arg name="gate_trigger_clear_margin_m" default="0.3" />
  <arg name="stop_after_first_gate" default="false" />
  <arg name="enable_search" default="true" />
  <arg name="enable_yaw_tracking" default="$(eval 'false' if arg('command_mode') == 'trajectory' else 'true')" />
  <arg name="cmd_topic" default="$(eval '/command/trajectory' if arg('command_mode') == 'trajectory' else '/airsim_node/drone_1/vel_body_cmd')" />
  <arg name="gate_pose_topic" default="/gate/relative_pose" />
  <arg name="gate_visual_error_topic" default="/gate/visual_error" />
  <arg name="debug_viz" default="false" />
  <arg name="mav_name" default="drone_1" />
  <arg name="odometry_topic" default="/eskf_odom" />
  <arg name="truth_odometry_topic" default="/se3_truth_odom" />
  <arg name="initial_pose_topic" default="/airsim_node/initial_pose" />
  <arg name="motor_topic" default="/airsim_node/drone_1/rotor_pwm_cmd" />
  <arg name="max_rotor_pwm" default="0.48" />
  <arg name="enable_pwm_desaturation" default="true" />
  <arg name="max_tilt_angle_deg" default="35.0" />
  <arg name="position_gain_x" default="1.6" />
  <arg name="position_gain_y" default="3.0" />
  <arg name="position_gain_z" default="3.0" />
  <arg name="velocity_gain_x" default="2.0" />
  <arg name="velocity_gain_y" default="2.8" />
  <arg name="velocity_gain_z" default="2.0" />
  <arg name="attitude_gain_x" default="0.9" />
  <arg name="attitude_gain_y" default="0.9" />
  <arg name="attitude_gain_z" default="0.22" />
  <arg name="angular_rate_gain_x" default="0.09" />
  <arg name="angular_rate_gain_y" default="0.10" />
  <arg name="angular_rate_gain_z" default="0.16" />
  <arg name="use_truth_odom" default="false" />
  <arg name="slam_source" default="airsim_eskf" />
  <arg name="pending_gate_max_age" default="8.0" />
  <arg name="initial_gate_wait_timeout" default="5.0" />
  <arg name="max_gate_lateral_m" default="5.0" />
  <arg name="max_gate_vertical_m" default="10.0" />
  <arg name="enable_takeoff_hold" default="true" />
  <arg name="takeoff_height_m" default="1.0" />
  <arg name="wait_for_gate_before_takeoff" default="$(eval arg('command_mode') == 'trajectory')" />
  <arg name="trajectory_cruise_speed" default="1.7" />
  <arg name="pass_speed_mps" default="2.0" />
  <arg name="cruise_search_speed_mps" default="1.8" />
  <arg name="max_speed_mps" default="2.5" />
  <arg name="max_acc_mps2" default="2.0" />
  <arg name="trajectory_max_lateral_speed_mps" default="0.9" />
  <arg name="trajectory_max_vertical_speed_mps" default="0.9" />
  <arg name="trajectory_constrain_lateral_vertical_derivatives" default="true" />
  <arg name="target_flight_z" default="-1.2" />
  <arg name="height_manager_enabled" default="true" />
  <arg name="height_reference_mode" default="gate_center" />
  <arg name="height_min_z" default="-45.0" />
  <arg name="height_max_z" default="-0.7" />
  <arg name="first_gate_height_min_z" default="-3.8" />
  <arg name="height_full_range_after_gate_index" default="1" />
  <arg name="height_ref_alpha" default="1.0" />
  <arg name="height_ref_max_step_m" default="2.00" />
  <arg name="height_ref_rate_mps" default="3.00" />
  <arg name="first_gate_height_ref_max_step_m" default="1.80" />
  <arg name="first_gate_height_ref_rate_mps" default="2.50" />
  <arg name="height_gate_z_weight" default="1.0" />
  <arg name="height_gate_z_offset_m" default="0.0" />
  <arg name="height_gate_z_filter_alpha" default="0.45" />
  <arg name="height_gate_z_max_step_m" default="2.00" />
  <arg name="height_gate_z_rate_mps" default="1.20" />
  <arg name="height_gate_z_freeze_on_recovery" default="true" />
  <arg name="height_gate_z_freeze_on_yaw_mismatch" default="true" />
  <arg name="height_gate_z_freeze_on_large_attitude" default="true" />
  <arg name="height_visual_error_gain_m" default="0.45" />
  <arg name="height_visual_distance_gain" default="0.10" />
  <arg name="height_visual_error_sign" default="1.0" />
  <arg name="height_down_correction_scale" default="0.25" />
  <arg name="allow_height_replan_while_tracking" default="true" />
  <arg name="allow_height_down_replan_while_tracking" default="false" />
  <arg name="height_replan_visual_threshold" default="0.12" />
  <arg name="height_replan_z_threshold_m" default="0.45" />
  <arg name="height_replan_max_step_m" default="0.70" />
  <arg name="height_replan_min_interval_s" default="0.80" />
  <arg name="height_replan_max_abs_rel_z_m" default="10.0" />
  <arg name="height_replan_min_gate_distance_m" default="4.0" />
  <arg name="height_replan_active_gate_xy_tolerance_m" default="6.0" />
  <arg name="height_replan_z_only_ignore_xy_error" default="true" />
  <arg name="height_replan_after_gate_index" default="1" />
  <arg name="new_gate_direct_climb_height" default="true" />
  <arg name="new_gate_direct_climb_max_step_m" default="1.0" />
  <arg name="max_vision_tilt_deg" default="45.0" />
  <arg name="trajectory_use_feedforward" default="true" />
  <arg name="trajectory_min_snap_path_frame" default="true" />
  <arg name="trajectory_lateral_overshoot_limit_m" default="1.0" />
  <arg name="gate_center_diag_interval_s" default="0.5" />
  <arg name="track_error_warn_forward_m" default="3.0" />
  <arg name="track_error_warn_lateral_m" default="1.5" />
  <arg name="track_error_warn_vertical_m" default="1.2" />
  <arg name="trajectory_waypoint_hold" default="false" />
  <arg name="trajectory_track_lookahead_m" default="1.2" />
  <arg name="trajectory_lock_yaw_to_path" default="true" />
  <arg name="gate_center_yaw_enabled" default="true" />
  <arg name="gate_center_yaw_near_m" default="4.0" />
  <arg name="gate_center_yaw_far_m" default="12.0" />
  <arg name="trajectory_start_velocity_to_gate_center" default="true" />
  <arg name="yaw_debug_log_enabled" default="true" />
  <arg name="yaw_debug_log_period" default="0.5" />
  <arg name="k_yaw" default="1.8" />
  <arg name="max_yaw_rate" default="25.0" />
  <arg name="yaw_tracking_sign" default="1.0" />
  <arg name="max_vision_yaw_error_deg" default="60.0" />
  <arg name="enable_heading_recovery" default="true" />
  <arg name="heading_recovery_yaw_error_deg" default="95.0" />
  <arg name="heading_recovery_tilt_deg" default="45.0" />
  <arg name="heading_recovery_forward_step_m" default="1.5" />
  <arg name="heading_recovery_speed_mps" default="1.2" />
  <arg name="heading_recovery_level_speed_mps" default="0.8" />
  <arg name="heading_recovery_far_level_min_speed_mps" default="0.8" />
  <arg name="heading_recovery_hold_xy_when_yaw_disabled" default="false" />
  <arg name="heading_recovery_max_vertical_speed_mps" default="0.25" />
  <arg name="heading_recovery_hold_altitude_while_leveling" default="true" />
  <arg name="heading_recovery_climb_while_leveling" default="false" />
  <arg name="heading_recovery_pause_plan_time" default="true" />
  <arg name="heading_recovery_yaw_enable_tilt_deg" default="40.0" />
  <arg name="heading_recovery_partial_yaw_tilt_deg" default="45.0" />
  <arg name="heading_recovery_partial_yaw_rate_deg" default="15.0" />
  <arg name="heading_recovery_yaw_enable_dwell_s" default="0.4" />
  <arg name="heading_recovery_full_yaw_rate_tilt_deg" default="8.0" />
  <arg name="heading_recovery_yaw_gain" default="1.0" />
  <arg name="heading_recovery_max_yaw_rate_deg" default="60.0" />
  <arg name="heading_recovery_exit_yaw_error_deg" default="35.0" />
  <arg name="heading_recovery_exit_tilt_deg" default="30.0" />
  <arg name="heading_recovery_target_mode" default="gate_center" />
  <arg name="heading_recovery_min_forward_component" default="0.2" />
  <arg name="heading_recovery_gate_center_weight" default="1.0" />
  <arg name="heading_recovery_max_target_angle_deg" default="35.0" />
  <arg name="gate_clear_require_center_check" default="true" />
  <arg name="gate_clear_lateral_margin_m" default="0.6" />
  <arg name="gate_clear_vertical_margin_m" default="0.4" />
  <arg name="gate_clear_center_miss_m" default="4.2" />
  <arg name="gate_clear_block_during_recovery" default="true" />
  <arg name="gate_clear_recovery_strict_enabled" default="true" />
  <arg name="gate_clear_recovery_lateral_limit_m" default="2.5" />
  <arg name="gate_clear_recovery_vertical_limit_m" default="1.2" />
  <arg name="gate_clear_recovery_center_miss_m" default="2.8" />
  <arg name="gate_clear_recovery_behind_margin_m" default="2.0" />
  <arg name="gate_clear_block_on_large_attitude" default="true" />
  <arg name="gate_clear_block_on_yaw_mismatch" default="true" />
  <arg name="gate_clear_reject_replan_interval_s" default="0.8" />
  <arg name="planner_debug_topic" default="/gate_planner/debug" />
  <arg name="min_segment_time" default="0.25" />
  <arg name="max_segment_time" default="30.0" />
  <arg name="gate_target_z_offset_m" default="0.0" />
  <arg name="post_gate_settle_time" default="0.0" />
  <arg name="search_next_max_distance_m" default="0.0" />
  <arg name="search_next_speed_mps" default="$(arg cruise_search_speed_mps)" />
  <arg name="trajectory_search_yaw_rate" default="3.0" />
  <arg name="search_visual_yaw_enabled" default="true" />
  <arg name="search_visual_yaw_gain_deg" default="35.0" />
  <arg name="search_visual_yaw_max_rate_deg" default="25.0" />
  <arg name="search_visual_yaw_sign" default="1.0" />
  <arg name="search_visual_path_turn_rate_deg" default="12.0" />
  <arg name="search_visual_min_area_ratio" default="0.005" />
  <arg name="new_gate_stable_frames" default="3" />
  <arg name="new_gate_candidate_tolerance_m" default="0.8" />
  <arg name="new_gate_requires_visual_error" default="true" />
  <arg name="new_gate_reject_zero_visual_error" default="true" />
  <arg name="new_gate_zero_visual_epsilon" default="0.0001" />
  <arg name="near_gate_zone_enabled" default="true" />
  <arg name="near_gate_zone_forward_m" default="6.0" />
  <arg name="near_gate_prefetch_forward_m" default="12.0" />
  <arg name="near_gate_next_min_distance_m" default="6.0" />
  <arg name="near_gate_forbid_current_gate_yaw" default="true" />
  <arg name="advance_search_lookahead_m" default="6.0" />
  <arg name="advance_search_speed_mps" default="1.6" />
  <arg name="hold_last_valid_timeout_s" default="1.0" />
  <arg name="hold_visual_error_zero" default="true" />
  <arg name="boundary_derivs_mode" default="match" />
  <arg name="trajectory_sample_guard_enabled" default="false" />
  <arg name="enable_disturbance_observer" default="false" />
  <arg name="disturbance_observer_l1" default="30.0" />
  <arg name="disturbance_observer_l2" default="500.0" />
  <arg name="disturbance_observer_l3" default="1000.0" />
  <arg name="disturbance_observer_max_acc" default="3.0" />
  <arg name="disturbance_observer_compensation_gain" default="0.85" />
  <arg name="disturbance_observer_freeze_tilt_deg" default="0.0" />
  <arg name="disturbance_observer_decay_rate" default="1.5" />
  <arg name="enable_attitude_recovery_pwm_floor" default="false" />
  <arg name="attitude_recovery_pwm_min_tilt_deg" default="45.0" />
  <arg name="attitude_recovery_pwm_full_tilt_deg" default="90.0" />
  <arg name="attitude_recovery_min_pwm" default="0.12" />
  <arg name="enable_attitude_disturbance_observer" default="false" />
  <arg name="attitude_disturbance_observer_l1" default="20.0" />
  <arg name="attitude_disturbance_observer_l2" default="50.0" />
  <arg name="attitude_disturbance_observer_l3" default="120.0" />
  <arg name="attitude_disturbance_observer_max_acc" default="8.0" />
  <arg name="attitude_disturbance_observer_compensation_gain" default="0.7" />
  <arg name="attitude_disturbance_observer_freeze_tilt_deg" default="80.0" />
  <arg name="attitude_disturbance_observer_decay_rate" default="3.0" />

  <group if="$(eval arg('command_mode') == 'trajectory')">
    <group if="$(arg use_truth_odom)">
      <node name="pose_to_odom" pkg="basic_dev" type="pose_to_odom.py" output="screen">
        <param name="pose_topic" value="$(arg truth_pose_topic)" />
        <param name="odom_topic" value="$(arg truth_odometry_topic)" />
        <param name="child_frame_id" value="$(arg mav_name)" />
        <param name="min_dt" value="0.005" />
        <param name="max_dt" value="0.05" />
        <param name="linear_velocity_cutoff_hz" value="8.0" />
        <param name="angular_velocity_cutoff_hz" value="10.0" />
        <param name="max_linear_velocity" value="3.0" />
        <param name="max_linear_acceleration" value="100.0" />
        <param name="max_angular_velocity" value="8.0" />
        <param name="reset_after_invalid_count" value="5" />
        <param name="diagnostics_period" value="1.0" />
      </node>
    </group>

    <group unless="$(arg use_truth_odom)">
      <node name="imu_gps_odometry" pkg="imu_gps_odometry" type="imu_gps_odometry" output="screen">
        <param name="slam_source" value="$(arg slam_source)" />
        <param name="gps_message_type" value="pose" />
        <param name="use_gps_orientation" value="false" />
        <param name="use_receive_time_for_imu_dt" value="true" />
        <param name="odom_topic" value="$(arg odometry_topic)" />
        <param name="gps_topic" value="/airsim_node/drone_1/gps" />
        <param name="imu_topic" value="/airsim_node/drone_1/imu/imu" />
        <param name="initial_pose_topic" value="$(arg initial_pose_topic)" />
        <param name="pos_noise" value="0.5" />
        <param name="vel_noise" value="0.5" />
        <param name="gps_position_std" value="0.3" />
      </node>
    </group>

    <node name="odom_to_pose" pkg="basic_dev" type="odom_to_pose.py" output="screen">
      <param name="odom_topic" value="$(arg odometry_topic)" />
      <param name="pose_topic" value="$(arg planner_pose_topic)" />
    </node>

    <node name="lee_position_controller_node" pkg="rotors_control" type="lee_position_controller_node" output="screen">
      <rosparam command="load" file="$(find rotors_control)/resource/lee_controller_$(arg mav_name).yaml" />
      <rosparam command="load" file="$(find rotors_control)/resource/$(arg mav_name).yaml" />
      <param name="command_trajectory_topic" value="$(arg cmd_topic)" />
      <param name="odometry_topic" value="$(arg odometry_topic)" />
      <param name="initial_pose_topic" value="$(arg initial_pose_topic)" />
      <param name="motor_topic" value="$(arg motor_topic)" />
      <param name="odometry_velocity_in_body_frame" value="false" />
      <param name="use_airsim_frame_adapter" value="true" />
      <param name="use_airsim_pwm_mixer" value="true" />
      <param name="max_rotor_pwm" value="$(arg max_rotor_pwm)" />
      <param name="enable_pwm_desaturation" value="$(arg enable_pwm_desaturation)" />
      <param name="enable_attitude_recovery_pwm_floor" value="$(arg enable_attitude_recovery_pwm_floor)" />
      <param name="attitude_recovery_pwm_min_tilt_deg" value="$(arg attitude_recovery_pwm_min_tilt_deg)" />
      <param name="attitude_recovery_pwm_full_tilt_deg" value="$(arg attitude_recovery_pwm_full_tilt_deg)" />
      <param name="attitude_recovery_min_pwm" value="$(arg attitude_recovery_min_pwm)" />
      <param name="max_tilt_angle_deg" value="$(arg max_tilt_angle_deg)" />
      <param name="position_gain/x" value="$(arg position_gain_x)" />
      <param name="position_gain/y" value="$(arg position_gain_y)" />
      <param name="position_gain/z" value="$(arg position_gain_z)" />
      <param name="velocity_gain/x" value="$(arg velocity_gain_x)" />
      <param name="velocity_gain/y" value="$(arg velocity_gain_y)" />
      <param name="velocity_gain/z" value="$(arg velocity_gain_z)" />
      <param name="attitude_gain/x" value="$(arg attitude_gain_x)" />
      <param name="attitude_gain/y" value="$(arg attitude_gain_y)" />
      <param name="attitude_gain/z" value="$(arg attitude_gain_z)" />
      <param name="angular_rate_gain/x" value="$(arg angular_rate_gain_x)" />
      <param name="angular_rate_gain/y" value="$(arg angular_rate_gain_y)" />
      <param name="angular_rate_gain/z" value="$(arg angular_rate_gain_z)" />
      <param name="torque_scale/x" value="1.0" />
      <param name="torque_scale/y" value="1.0" />
      <param name="torque_scale/z" value="1.0" />
      <param name="enable_disturbance_observer" value="$(arg enable_disturbance_observer)" />
      <param name="disturbance_observer_topic" value="/eso_disturbance" />
      <param name="disturbance_observer_torque_topic" value="/eso_torque_disturbance" />
      <param name="disturbance_observer_position_gain/l1" value="$(arg disturbance_observer_l1)" />
      <param name="disturbance_observer_position_gain/l2" value="$(arg disturbance_observer_l2)" />
      <param name="disturbance_observer_position_gain/l3" value="$(arg disturbance_observer_l3)" />
      <param name="disturbance_observer_max_acc" value="$(arg disturbance_observer_max_acc)" />
      <param name="disturbance_observer_compensation_gain" value="$(arg disturbance_observer_compensation_gain)" />
      <param name="disturbance_observer_freeze_tilt_deg" value="$(arg disturbance_observer_freeze_tilt_deg)" />
      <param name="disturbance_observer_decay_rate" value="$(arg disturbance_observer_decay_rate)" />
      <param name="enable_attitude_disturbance_observer" value="$(arg enable_attitude_disturbance_observer)" />
      <param name="attitude_disturbance_observer_gain/l1" value="$(arg attitude_disturbance_observer_l1)" />
      <param name="attitude_disturbance_observer_gain/l2" value="$(arg attitude_disturbance_observer_l2)" />
      <param name="attitude_disturbance_observer_gain/l3" value="$(arg attitude_disturbance_observer_l3)" />
      <param name="attitude_disturbance_observer_max_acc" value="$(arg attitude_disturbance_observer_max_acc)" />
      <param name="attitude_disturbance_observer_compensation_gain" value="$(arg attitude_disturbance_observer_compensation_gain)" />
      <param name="attitude_disturbance_observer_freeze_tilt_deg" value="$(arg attitude_disturbance_observer_freeze_tilt_deg)" />
      <param name="attitude_disturbance_observer_decay_rate" value="$(arg attitude_disturbance_observer_decay_rate)" />
    </node>
  </group>

  <group if="$(eval arg('gate_pose_method') == 'bbox_depth')">
    <node pkg="basic_dev" type="yolo_gate_pose.py" name="yolo_gate_pose_bbox_depth" output="screen">
      <param name="model_path" value="$(arg model_path)" />
      <param name="image_topic" value="$(arg image_topic)" />
      <param name="pose_topic" value="$(arg gate_pose_topic)" />
      <param name="conf" value="$(arg gate_detector_conf)" />
      <param name="imgsz" value="640" />
      <param name="camera_hfov_deg" value="$(arg camera_hfov_deg)" />
      <param name="gate_width_m" value="$(arg gate_width_m)" />
      <param name="gate_height_m" value="$(arg gate_height_m)" />
      <param name="min_area_ratio" value="$(arg min_area_ratio)" />
      <param name="edge_margin_px" value="8.0" />
      <param name="process_every_n_frames" value="2" />
      <param name="filter_alpha_x" value="0.22" />
      <param name="filter_alpha_y" value="0.35" />
      <param name="filter_alpha_z" value="0.12" />
      <param name="x_deadband_m" value="0.05" />
      <param name="max_x_step_m" value="0.30" />
      <param name="z_deadband_m" value="0.10" />
      <param name="max_z_step_m" value="0.25" />
    </node>
  </group>

  <group if="$(eval arg('gate_pose_method') == 'bbox_pnp')">
    <node pkg="basic_dev" type="yolo_gate_pose_pnp.py" name="yolo_gate_pose_pnp" output="screen">
      <param name="model_path" value="$(arg model_path)" />
      <param name="image_topic" value="$(arg image_topic)" />
      <param name="pose_topic" value="$(arg gate_pose_topic)" />
      <param name="visual_error_topic" value="$(arg gate_visual_error_topic)" />
      <param name="conf" value="$(arg gate_detector_conf)" />
      <param name="imgsz" value="640" />
      <param name="camera_hfov_deg" value="$(arg camera_hfov_deg)" />
      <param name="gate_width_m" value="$(arg gate_width_m)" />
      <param name="gate_height_m" value="$(arg gate_height_m)" />
      <param name="min_area_ratio" value="$(arg min_area_ratio)" />
      <param name="visual_error_min_area_ratio" value="$(arg gate_visual_error_min_area_ratio)" />
      <param name="edge_margin_px" value="8.0" />
      <param name="process_every_n_frames" value="2" />
      <param name="body_y_sign" value="1.0" />
      <param name="body_z_sign" value="1.0" />
    </node>
  </group>

  <group if="$(eval arg('gate_pose_method') == 'keypoint_pnp')">
    <node pkg="basic_dev" type="yolo_gate_pose_keypoint_pnp.py" name="yolo_gate_pose_keypoint_pnp" output="screen">
      <param name="model_path" value="$(arg model_path)" />
      <param name="image_topic" value="$(arg image_topic)" />
      <param name="pose_topic" value="$(arg gate_pose_topic)" />
      <param name="visual_error_topic" value="$(arg gate_visual_error_topic)" />
      <param name="conf" value="$(arg gate_detector_conf)" />
      <param name="imgsz" value="640" />
      <param name="camera_hfov_deg" value="$(arg camera_hfov_deg)" />
      <param name="gate_width_m" value="$(arg gate_width_m)" />
      <param name="gate_height_m" value="$(arg gate_height_m)" />
      <param name="min_area_ratio" value="$(arg min_area_ratio)" />
      <param name="max_area_ratio" value="0.55" />
      <param name="max_center_error" value="$(arg max_center_error)" />
      <param name="visual_error_min_area_ratio" value="$(arg gate_visual_error_min_area_ratio)" />
      <param name="keypoint_conf" value="0.45" />
      <param name="max_reproj_error_px" value="$(arg max_reproj_error_px)" />
      <param name="min_depth_m" value="1.0" />
      <param name="max_depth_m" value="$(arg max_depth_m)" />
      <param name="max_lateral_m" value="$(arg max_lateral_m)" />
      <param name="max_vertical_m" value="$(arg max_vertical_m)" />
      <param name="max_position_jump_m" value="2.0" />
      <param name="filter_alpha" value="0.35" />
      <param name="fallback_to_bbox_pnp" value="true" />
      <param name="publish_debug_image" value="true" />
      <param name="hold_last_valid_pose" value="true" />
      <param name="hold_last_valid_timeout_s" value="$(arg hold_last_valid_timeout_s)" />
      <param name="hold_visual_error_zero" value="$(arg hold_visual_error_zero)" />
      <param name="publish_invalid_debug" value="true" />
      <param name="debug_reject_reasons" value="true" />
      <param name="candidate_reproj_weight" value="2.0" />
      <param name="candidate_center_weight" value="1.0" />
      <param name="candidate_depth_jump_weight" value="1.5" />
      <param name="candidate_pose_jump_weight" value="2.0" />
      <param name="require_all_keypoints" value="true" />
      <param name="selected_debug_only" value="true" />
      <param name="edge_margin_px" value="8.0" />
      <param name="process_every_n_frames" value="2" />
      <param name="body_y_sign" value="1.0" />
      <param name="body_z_sign" value="1.0" />
    </node>
  </group>

  <node pkg="basic_dev" type="gate_poly_planner.py" name="gate_poly_planner" output="screen">
    <param name="pose_topic" value="$(arg planner_pose_topic)" />
    <param name="gate_topic" value="$(arg gate_pose_topic)" />
    <param name="gate_visual_error_topic" value="$(arg gate_visual_error_topic)" />
    <param name="command_mode" value="$(arg command_mode)" />
    <param name="cmd_topic" value="$(arg cmd_topic)" />
    <param name="frame_id" value="world" />
    <param name="child_frame_id" value="$(arg mav_name)" />
    <param name="enable_takeoff_hold" value="$(arg enable_takeoff_hold)" />
    <param name="takeoff_height_m" value="$(arg takeoff_height_m)" />
    <param name="takeoff_reached_tolerance_m" value="0.15" />
    <param name="front_offset_m" value="1.0" />
    <param name="exit_offset_m" value="0.8" />
    <param name="gate_trigger_width_m" value="$(arg gate_trigger_width_m)" />
    <param name="gate_trigger_height_m" value="$(arg gate_trigger_height_m)" />
    <param name="gate_trigger_length_m" value="$(arg gate_trigger_length_m)" />
    <param name="gate_trigger_exit_offset_m" value="$(arg gate_trigger_exit_offset_m)" />
    <param name="gate_trigger_clear_margin_m" value="$(arg gate_trigger_clear_margin_m)" />
    <param name="gate_target_z_offset_m" value="$(arg gate_target_z_offset_m)" />
    <param name="gate_relative_z_sign" value="$(eval -1.0 if arg('command_mode') == 'trajectory' else 1.0)" />
    <param name="cruise_speed" value="0.65" />
    <param name="trajectory_cruise_speed" value="$(arg trajectory_cruise_speed)" />
    <param name="pass_speed_mps" value="$(arg pass_speed_mps)" />
    <param name="cruise_search_speed_mps" value="$(arg cruise_search_speed_mps)" />
    <param name="max_speed_mps" value="$(arg max_speed_mps)" />
    <param name="max_acc_mps2" value="$(arg max_acc_mps2)" />
    <param name="trajectory_max_lateral_speed_mps" value="$(arg trajectory_max_lateral_speed_mps)" />
    <param name="trajectory_max_vertical_speed_mps" value="$(arg trajectory_max_vertical_speed_mps)" />
    <param name="trajectory_constrain_lateral_vertical_derivatives" value="$(arg trajectory_constrain_lateral_vertical_derivatives)" />
    <param name="target_flight_z" value="$(arg target_flight_z)" />
    <param name="height_manager_enabled" value="$(arg height_manager_enabled)" />
    <param name="height_reference_mode" value="$(arg height_reference_mode)" />
    <param name="height_min_z" value="$(arg height_min_z)" />
    <param name="height_max_z" value="$(arg height_max_z)" />
    <param name="first_gate_height_min_z" value="$(arg first_gate_height_min_z)" />
    <param name="height_full_range_after_gate_index" value="$(arg height_full_range_after_gate_index)" />
    <param name="height_ref_alpha" value="$(arg height_ref_alpha)" />
    <param name="height_ref_max_step_m" value="$(arg height_ref_max_step_m)" />
    <param name="height_ref_rate_mps" value="$(arg height_ref_rate_mps)" />
    <param name="first_gate_height_ref_max_step_m" value="$(arg first_gate_height_ref_max_step_m)" />
    <param name="first_gate_height_ref_rate_mps" value="$(arg first_gate_height_ref_rate_mps)" />
    <param name="height_gate_z_weight" value="$(arg height_gate_z_weight)" />
    <param name="height_gate_z_offset_m" value="$(arg height_gate_z_offset_m)" />
    <param name="height_gate_z_filter_alpha" value="$(arg height_gate_z_filter_alpha)" />
    <param name="height_gate_z_max_step_m" value="$(arg height_gate_z_max_step_m)" />
    <param name="height_gate_z_rate_mps" value="$(arg height_gate_z_rate_mps)" />
    <param name="height_gate_z_freeze_on_recovery" value="$(arg height_gate_z_freeze_on_recovery)" />
    <param name="height_gate_z_freeze_on_yaw_mismatch" value="$(arg height_gate_z_freeze_on_yaw_mismatch)" />
    <param name="height_gate_z_freeze_on_large_attitude" value="$(arg height_gate_z_freeze_on_large_attitude)" />
    <param name="height_visual_error_gain_m" value="$(arg height_visual_error_gain_m)" />
    <param name="height_visual_distance_gain" value="$(arg height_visual_distance_gain)" />
    <param name="height_visual_error_sign" value="$(arg height_visual_error_sign)" />
    <param name="height_down_correction_scale" value="$(arg height_down_correction_scale)" />
    <param name="allow_height_replan_while_tracking" value="$(arg allow_height_replan_while_tracking)" />
    <param name="allow_height_down_replan_while_tracking" value="$(arg allow_height_down_replan_while_tracking)" />
    <param name="height_replan_visual_threshold" value="$(arg height_replan_visual_threshold)" />
    <param name="height_replan_z_threshold_m" value="$(arg height_replan_z_threshold_m)" />
    <param name="height_replan_max_step_m" value="$(arg height_replan_max_step_m)" />
    <param name="height_replan_min_interval_s" value="$(arg height_replan_min_interval_s)" />
    <param name="height_replan_max_abs_rel_z_m" value="$(arg height_replan_max_abs_rel_z_m)" />
    <param name="height_replan_min_gate_distance_m" value="$(arg height_replan_min_gate_distance_m)" />
    <param name="height_replan_active_gate_xy_tolerance_m" value="$(arg height_replan_active_gate_xy_tolerance_m)" />
    <param name="height_replan_z_only_ignore_xy_error" value="$(arg height_replan_z_only_ignore_xy_error)" />
    <param name="height_replan_after_gate_index" value="$(arg height_replan_after_gate_index)" />
    <param name="new_gate_direct_climb_height" value="$(arg new_gate_direct_climb_height)" />
    <param name="new_gate_direct_climb_max_step_m" value="$(arg new_gate_direct_climb_max_step_m)" />
    <param name="max_vision_tilt_deg" value="$(arg max_vision_tilt_deg)" />
    <param name="use_min_snap" value="true" />
    <param name="poly_degree" value="7" />
    <param name="snap_order" value="4" />
    <param name="boundary_derivs_mode" value="$(arg boundary_derivs_mode)" />
    <param name="kp_x" value="0.55" />
    <param name="kp_z" value="0.45" />
    <param name="max_vx" value="0.75" />
    <param name="max_vy" value="0.6" />
    <param name="max_vz" value="0.25" />
    <param name="trajectory_max_vx" value="$(arg max_speed_mps)" />
    <param name="trajectory_max_vy" value="$(arg trajectory_max_lateral_speed_mps)" />
    <param name="trajectory_max_vz" value="$(arg trajectory_max_vertical_speed_mps)" />
    <param name="trajectory_max_acc" value="$(arg max_acc_mps2)" />
    <param name="trajectory_use_feedforward" value="$(arg trajectory_use_feedforward)" />
    <param name="trajectory_min_snap_path_frame" value="$(arg trajectory_min_snap_path_frame)" />
    <param name="trajectory_lateral_overshoot_limit_m" value="$(arg trajectory_lateral_overshoot_limit_m)" />
    <param name="gate_center_diag_interval_s" value="$(arg gate_center_diag_interval_s)" />
    <param name="track_error_warn_forward_m" value="$(arg track_error_warn_forward_m)" />
    <param name="track_error_warn_lateral_m" value="$(arg track_error_warn_lateral_m)" />
    <param name="track_error_warn_vertical_m" value="$(arg track_error_warn_vertical_m)" />
    <param name="trajectory_waypoint_hold" value="$(arg trajectory_waypoint_hold)" />
    <param name="trajectory_track_lookahead_m" value="$(arg trajectory_track_lookahead_m)" />
    <param name="trajectory_lock_yaw_to_path" value="$(arg trajectory_lock_yaw_to_path)" />
    <param name="gate_center_yaw_enabled" value="$(arg gate_center_yaw_enabled)" />
    <param name="gate_center_yaw_near_m" value="$(arg gate_center_yaw_near_m)" />
    <param name="gate_center_yaw_far_m" value="$(arg gate_center_yaw_far_m)" />
    <param name="trajectory_start_velocity_to_gate_center" value="$(arg trajectory_start_velocity_to_gate_center)" />
    <param name="yaw_debug_log_enabled" value="$(arg yaw_debug_log_enabled)" />
    <param name="yaw_debug_log_period" value="$(arg yaw_debug_log_period)" />
    <param name="max_vision_yaw_error_deg" value="$(arg max_vision_yaw_error_deg)" />
    <param name="enable_heading_recovery" value="$(arg enable_heading_recovery)" />
    <param name="heading_recovery_yaw_error_deg" value="$(arg heading_recovery_yaw_error_deg)" />
    <param name="heading_recovery_tilt_deg" value="$(arg heading_recovery_tilt_deg)" />
    <param name="heading_recovery_forward_step_m" value="$(arg heading_recovery_forward_step_m)" />
    <param name="heading_recovery_speed_mps" value="$(arg heading_recovery_speed_mps)" />
    <param name="heading_recovery_level_speed_mps" value="$(arg heading_recovery_level_speed_mps)" />
    <param name="heading_recovery_far_level_min_speed_mps" value="$(arg heading_recovery_far_level_min_speed_mps)" />
    <param name="heading_recovery_hold_xy_when_yaw_disabled" value="$(arg heading_recovery_hold_xy_when_yaw_disabled)" />
    <param name="heading_recovery_max_vertical_speed_mps" value="$(arg heading_recovery_max_vertical_speed_mps)" />
    <param name="heading_recovery_hold_altitude_while_leveling" value="$(arg heading_recovery_hold_altitude_while_leveling)" />
    <param name="heading_recovery_climb_while_leveling" value="$(arg heading_recovery_climb_while_leveling)" />
    <param name="heading_recovery_pause_plan_time" value="$(arg heading_recovery_pause_plan_time)" />
    <param name="heading_recovery_yaw_enable_tilt_deg" value="$(arg heading_recovery_yaw_enable_tilt_deg)" />
    <param name="heading_recovery_partial_yaw_tilt_deg" value="$(arg heading_recovery_partial_yaw_tilt_deg)" />
    <param name="heading_recovery_partial_yaw_rate_deg" value="$(arg heading_recovery_partial_yaw_rate_deg)" />
    <param name="heading_recovery_yaw_enable_dwell_s" value="$(arg heading_recovery_yaw_enable_dwell_s)" />
    <param name="heading_recovery_full_yaw_rate_tilt_deg" value="$(arg heading_recovery_full_yaw_rate_tilt_deg)" />
    <param name="heading_recovery_yaw_gain" value="$(arg heading_recovery_yaw_gain)" />
    <param name="heading_recovery_max_yaw_rate_deg" value="$(arg heading_recovery_max_yaw_rate_deg)" />
    <param name="heading_recovery_exit_yaw_error_deg" value="$(arg heading_recovery_exit_yaw_error_deg)" />
    <param name="heading_recovery_exit_tilt_deg" value="$(arg heading_recovery_exit_tilt_deg)" />
    <param name="heading_recovery_target_mode" value="$(arg heading_recovery_target_mode)" />
    <param name="heading_recovery_min_forward_component" value="$(arg heading_recovery_min_forward_component)" />
    <param name="heading_recovery_gate_center_weight" value="$(arg heading_recovery_gate_center_weight)" />
    <param name="heading_recovery_max_target_angle_deg" value="$(arg heading_recovery_max_target_angle_deg)" />
    <param name="trajectory_sample_guard_enabled" value="$(arg trajectory_sample_guard_enabled)" />
    <param name="trajectory_sample_guard_max_deviation_m" value="1.0" />
    <param name="trajectory_sample_guard_corridor_m" value="1.0" />
    <param name="trajectory_waypoint_tolerance_m" value="0.25" />
    <param name="trajectory_waypoint_timeout" value="8.0" />
    <param name="max_segment_time" value="$(arg max_segment_time)" />
    <param name="min_segment_time" value="$(arg min_segment_time)" />
    <param name="require_gate_clear_before_finish" value="$(eval arg('command_mode') == 'trajectory')" />
    <param name="gate_clear_x_m" value="0.6" />
    <param name="gate_clear_extra_m" value="0.8" />
    <param name="gate_clear_max_extensions" value="3" />
    <param name="clear_distance_m" value="0.6" />
    <param name="gate_clear_require_center_check" value="$(arg gate_clear_require_center_check)" />
    <param name="gate_clear_lateral_margin_m" value="$(arg gate_clear_lateral_margin_m)" />
    <param name="gate_clear_vertical_margin_m" value="$(arg gate_clear_vertical_margin_m)" />
    <param name="gate_clear_center_miss_m" value="$(arg gate_clear_center_miss_m)" />
    <param name="gate_clear_block_during_recovery" value="$(arg gate_clear_block_during_recovery)" />
    <param name="gate_clear_recovery_strict_enabled" value="$(arg gate_clear_recovery_strict_enabled)" />
    <param name="gate_clear_recovery_lateral_limit_m" value="$(arg gate_clear_recovery_lateral_limit_m)" />
    <param name="gate_clear_recovery_vertical_limit_m" value="$(arg gate_clear_recovery_vertical_limit_m)" />
    <param name="gate_clear_recovery_center_miss_m" value="$(arg gate_clear_recovery_center_miss_m)" />
    <param name="gate_clear_recovery_behind_margin_m" value="$(arg gate_clear_recovery_behind_margin_m)" />
    <param name="gate_clear_block_on_large_attitude" value="$(arg gate_clear_block_on_large_attitude)" />
    <param name="gate_clear_block_on_yaw_mismatch" value="$(arg gate_clear_block_on_yaw_mismatch)" />
    <param name="gate_clear_reject_replan_interval_s" value="$(arg gate_clear_reject_replan_interval_s)" />
    <param name="planner_debug_topic" value="$(arg planner_debug_topic)" />
    <param name="search_next_forward_step_m" value="1.0" />
    <param name="post_gate_settle_time" value="$(arg post_gate_settle_time)" />
    <param name="search_next_max_distance_m" value="$(arg search_next_max_distance_m)" />
    <param name="search_next_speed_mps" value="$(arg search_next_speed_mps)" />
    <param name="new_gate_stable_frames" value="$(arg new_gate_stable_frames)" />
    <param name="min_new_gate_distance_m" value="0.8" />
    <param name="min_new_gate_world_forward_m" value="1.0" />
    <param name="search_gate_corridor_half_width_m" value="8.0" />
    <param name="gate_reacquire_timeout" value="3.0" />
    <param name="cleared_gate_ignore_radius_m" value="2.0" />
    <param name="new_gate_candidate_tolerance_m" value="$(arg new_gate_candidate_tolerance_m)" />
    <param name="new_gate_requires_visual_error" value="$(arg new_gate_requires_visual_error)" />
    <param name="new_gate_reject_zero_visual_error" value="$(arg new_gate_reject_zero_visual_error)" />
    <param name="new_gate_zero_visual_epsilon" value="$(arg new_gate_zero_visual_epsilon)" />
    <param name="near_gate_zone_enabled" value="$(arg near_gate_zone_enabled)" />
    <param name="near_gate_zone_forward_m" value="$(arg near_gate_zone_forward_m)" />
    <param name="near_gate_prefetch_forward_m" value="$(arg near_gate_prefetch_forward_m)" />
    <param name="near_gate_next_min_distance_m" value="$(arg near_gate_next_min_distance_m)" />
    <param name="near_gate_forbid_current_gate_yaw" value="$(arg near_gate_forbid_current_gate_yaw)" />
    <param name="advance_search_lookahead_m" value="$(arg advance_search_lookahead_m)" />
    <param name="advance_search_speed_mps" value="$(arg advance_search_speed_mps)" />
    <param name="max_gate_lateral_m" value="$(arg max_gate_lateral_m)" />
    <param name="max_gate_vertical_m" value="$(arg max_gate_vertical_m)" />
    <param name="allow_replan_while_tracking" value="false" />
    <param name="stop_after_first_gate" value="$(arg stop_after_first_gate)" />
    <param name="pending_gate_max_age" value="$(arg pending_gate_max_age)" />
    <param name="wait_for_gate_before_takeoff" value="$(arg wait_for_gate_before_takeoff)" />
    <param name="initial_gate_wait_timeout" value="$(arg initial_gate_wait_timeout)" />
    <param name="vx_filter_alpha" value="0.35" />
    <param name="vx_deadband" value="0.04" />
    <param name="max_vx_step_per_sec" value="0.8" />
    <param name="vz_filter_alpha" value="0.25" />
    <param name="vz_deadband" value="0.03" />
    <param name="enable_search" value="$(arg enable_search)" />
    <param name="enable_yaw_tracking" value="$(arg enable_yaw_tracking)" />
    <param name="k_yaw" value="$(arg k_yaw)" />
    <param name="max_yaw_rate" value="$(arg max_yaw_rate)" />
    <param name="yaw_tracking_sign" value="$(arg yaw_tracking_sign)" />
    <param name="trajectory_search_yaw_rate" value="$(arg trajectory_search_yaw_rate)" />
    <param name="search_visual_yaw_enabled" value="$(arg search_visual_yaw_enabled)" />
    <param name="search_visual_yaw_gain_deg" value="$(arg search_visual_yaw_gain_deg)" />
    <param name="search_visual_yaw_max_rate_deg" value="$(arg search_visual_yaw_max_rate_deg)" />
    <param name="search_visual_yaw_sign" value="$(arg search_visual_yaw_sign)" />
    <param name="search_visual_path_turn_rate_deg" value="$(arg search_visual_path_turn_rate_deg)" />
    <param name="search_visual_min_area_ratio" value="$(arg search_visual_min_area_ratio)" />
  </node>

  <group if="$(arg debug_viz)">
    <node pkg="basic_dev" type="live_debug_viz.py" name="live_debug_viz" output="screen">
      <param name="frame_id" value="world" />
      <param name="odom_topic" value="$(arg odometry_topic)" />
      <param name="cmd_topic" value="$(arg cmd_topic)" />
      <param name="gate_topic" value="$(arg gate_pose_topic)" />
      <param name="visual_error_topic" value="$(arg gate_visual_error_topic)" />
      <param name="publish_rate" value="20.0" />
      <param name="gate_relative_z_sign" value="$(eval -1.0 if arg('command_mode') == 'trajectory' else 1.0)" />
    </node>
  </group>
</launch>
